body {
	background-color: gray;
}

h1 {
	font-size: 4rem;
	text-align: center;
}

h2 {
	font-size: 2rem;
	text-align: center;
}

ul {
	text-indent: left;
	font-size: 2rem;
	text-align: center;
	list-style-position: inside;
}

dl {
	font-weight: bold;
	color: Orange;
}

.selections {
	display: flex;
	justify-content: center;
}

.select {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 6rem;
	transition: 100ms;
}
.select:hover {
	background: lightblue;
	border-radius: 12px;
	border-style: solid;
	border-color: white;
	transform: scale(1.2);
}
.results {
	font-size: 4rem;
	margin-top: 3rem;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2,1fr);
	justify-items: center;
	align-items: center;
	
}
.result-score {
	margin-left: .1rem;
	font-size: 3rem;
	color: skyblue;
}

.result-selection {
	opacity: .5;
}
.result-selection.winner {
	opacity: 1;
	font-size: 4rem;
}
